<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<table>
    <tr>
        <th>From</th>
        <th>Message</th>
        <th>Date</th>
    </tr>
    <tr th:each="message: ${messages}">
        <td th:text="${message.content}" />
        <td th:text="${message.from}" />

    </tr>
</table>


<b>Send Message</b> <br/>
<form th:action="@{/message}" method="post">
    <div><label> Message : <input type="text" name="content"/> </label></div>
    <div><label> To: <input type="text" name="to"/> </label></div>
    <div><input type="submit" value="Send"/></div>
</form>
</body>
</html>